.bgcol1 {
    background-color: #5e244c;
}

.ar-navbar-main {
    margin: 0;
    background: none;
    border: none;
}

.ar-header-bg {
    background-image: url('../img/img_header.jpg');
    background-repeat: no-repeat;
    border-radius: 0px !important;
    background-size: cover;
    max-height: 318px;
    height: 318px;
}

h1 {
    position: relative !important;
}

h1.one {
    margin-top: 0; text-transform: uppercase; color: #297aa5; font-size: 28px;
}

h1.one:before {
    content: "";
    display: block;
    border-top: solid 1px #5c2144;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
}

h1.one span {
    background: #fff;
    padding: 0 20px;
    position: relative;
    z-index: 5;
}
.ar-panel{
    border-radius: 0;
}
.ar-pane2{
    border-radius: 0;
    
}
.ar-panel .panel-body{
    padding: 5px !important;
}
.ar-panel2 .panel-body{
    background-color: #5e244c;
    color: #fff;
}
.ar-rugs-color{
    width: 78px; height: 21px; float: left !important; text-decoration: none; cursor: pointer;
}
.cl1{
    background-color: #c6382e;
}
.cl2{
    background-color: #de3f2c;
}
.cl3{
    background-color: #eb5d37;
}
.cl4{
    background-color: #f59330;
}
.cl5{
    background-color: #f8b04c;
}
.cl6{
    background-color: #d2df47;
}
.cl7{
    background-color: #86c750;
}
.cl8{
    background-color: #5cc15a;
}
.cl9{
    background-color: #54b679;
}
.cl10{
    background-color: #45a59e;
}
.cl11{
    background-color: #369bbf;
}
.cl12{
    background-color: #1875bb;
}
.cl13{
    background-color: #2f398d;
}
.cl14{
    background-color: #2a235d;
}
.grid-item { width: 325px; }
.grid-item--width2 { width: 370px; }
.item.h2 {
    height: 130px;
}
.prod-img2{
    height: 305px !important;
}
.footer-brand-l img{
    margin: 2px;
}
.footer-brand-r{
    text-align: right;
}
.footer-brand-r img{
    margin: 2px;
}
.header-usp{
    width: 135px;
    float: left;
    text-transform: uppercase;
    padding-left: 40px;
    font-size: 12px;
    padding-top: 5px;
    line-height: 13px;
    padding-bottom: 5px;
    margin-left: 15px;
    position: relative;
}
.header-usp span {
    padding-right: 5px;
}
.vl {
    border-left: 1px solid #cccccc;
    height: 22px;
    position: absolute;
    right: 0;
    top: 7px;
}
.ar-search{
    width: 279px !important;
    border-radius: 0px;
    border-color: #333;
    padding: 9px;
    font-size: 11px;
    line-height: 16px;
    height: 32px;
    background-image: url('../img/icon_search.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 98%;
}

.navbar{
    min-height: unset;
}
.navbar-nav>li>a {
    line-height: 20px;
    padding: 10px 25px;
}
a.ar-ico-a{
    text-decoration: none;
}
a.ar-ico-a img{
    border: none;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}


.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #555;
    background-color: #e7e7e7;
}

.logo-con{
    float: left;
    width: 173px;
}
.logo-con img{
    width: 100%;
}
.usp-con{
    float: left; margin-top: 30px;margin-left: 25px;
}
.top-search-con{
    float: right; margin-top: 30px;
}

.usp1{
    background: url('../img/img_freedelivery.jpg') no-repeat;
}
.usp2{
    background: url('../img/img_freedelivery.jpg') no-repeat; width: 112px;
}
.usp3{
    background: url('../img/img_freedelivery.jpg') no-repeat; width: 150px;
}
.usp4{
    background: url('../img/img_freedelivery.jpg') no-repeat; border: none;
}
.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon, 
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    right: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}
/*RESPONSIVE*/

@media only screen and (max-width: 1024px) {
    .logo-con{
        float: left;
        width: 150px;
    }
    .usp-con{
        float: left; margin-top: 30px;margin-left: 10px; 
    }
    .header-usp{
        font-size: 11px !important; width: 118px;
    }
    .ar-search{
        width: 150px !important;
    }
    .navbar-nav>li>a {
        line-height: 20px;
        padding: 10px 15px;
    }
    .ar-header-bg {
        background-size: contain;
        height: 245px;
    }
}

@media only screen and (max-width: 992px) {
    .logo-con{
        float: left;
        width: 125px;
    }
    .usp-con{
        float: right; margin-top: 10px;margin-left: 0px; 
        margin-right: -20px;
    }
    .header-usp{
        font-size: 10px !important; width: 118px;
    }
    .header-usp:last-child{
        width: auto;
    }
    .ar-search{
        width: 300px !important;
    }
    .navbar-nav>li>a {
        line-height: 20px;
        padding: 10px 10px;
    }
    .ar-header-bg {
        background-size: contain;
        height: 230px;
    }
    .top-search-con{
        float: right; margin-top: 15px; margin-bottom: 5px;
    }
    .navbar-nav>li>a {
        line-height: 20px;
        padding: 10px 10px;
        font-size: 11px;
    }
}
@media only screen and (max-width: 768px) {

    .top-search-con{
        float: right;
        margin-left: 105px;
    }
    
}
@media only screen and (max-width: 680px) {

    .top-search-con{
        float: right;
        margin-left: 105px;
    }
    .usp1{
        background: none;width: 90px !important;
    }
    .usp2{
        background: none; width: 90px !important;
    }
    .usp3{
        background: none; width: 90px !important; 
    }
    .usp4{
        background: none; width: 50px !important;
    }
    .header-usp{
        padding-left: 0px;
        font-size: 12px;
        padding-top: 5px;
        line-height: 13px;
        padding-bottom: 5px;
        margin-left: 5px;
        position: relative;
    }
    .logo-con{
        margin-top: 19px;
    }
    
}
@media only screen and (max-width: 627px) {
    .top-search-con{
        margin-left: 0px;
    }
}
@media only screen and (max-width: 531px) {
    /* .top-search-con{
        float: left; margin-top: 0px; width: 150px !important;
    } */
    .ar-search{
        width: 200px !important;
    }
}
@media only screen and (max-width: 491px) {
    .top-search-con{
        float: left; margin-top: 0px;
    }
    .ar-search{
        width: 270px !important;
    }
}